.parent >.child-1{
    color: rgb(176, 235, 16);
}
.parent >.child-2{
    color: rgb(7, 90, 10);
}
.parent >.child-1 ul{
    color: rgb(25, 6, 106);
}
.parent >.child-2 p{
    color: brown;
    font-size: 2em;
}