.one{
    color: aqua;
    font-size: 100px;
    text-align: center;
    border: 10px solid rgb(72, 255, 0) ;
    padding: 50px;
}
.two{
    color: rgb(0, 255, 47);
    font-size: 40px;
    text-align: center;
    padding: 50px;

}
img{
    width: 500px;
    display: block;
    margin: auto;
    border: 10px solid rgb(255, 200, 0) ;
    padding: 10px;
    border-radius: 50px;

}